table {
    font-family: arial, sans-serif;
    width: 60%;
}

td, th {
    border: 2px rgb(44, 42, 42) solid;
    padding: 10px;
}

.display{
    display: flex;
    justify-content: center;
    margin: 3rem 0 3rem 0;
}
button{
    all: unset;
    cursor: pointer;
}
.displayButton{
    display: flex;
    justify-content: center;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    text-align: center;
    margin-top: 2rem;
    font-size: 2.5rem;
}
