<div class="headerMainBox">
    <div id="widthTitle">
        <h1 id="headerMainBoxTitle">Dashboard</h1>
    </div>
</div>

<h1 class="title" id="sizeTitle">Welcome, please enter your credentials to log in.</h1>
<div class="displayForm">
    <div class="borderForm">
        <h1 class="title">Login</h1>
        <div class="positionForm">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="display">
                <label>Email</label>
                <input type="email" formControlName="email" >

                <label>Password</label>
                <input type="password" formControlName="password" >

                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</div>

