.card{
    border-radius: 25px;
    border: 4px rgb(44, 42, 42) solid;
    width: 35rem;
    height: 10rem;
    text-align:left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: rgb(44, 42, 42);
    cursor: pointer;
}
.display{
    display: flex;
    justify-content: center;
    margin: 2rem;
}
h1{
    font-weight: lighter;
}
button{
    all: unset;
    cursor: pointer;
}
#positionButton{
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 0.5rem;
}
.h1Title{
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    text-align: center;
    margin-top: 2rem;
    font-size: 2.5rem;
}
.name{
    z-index: 1;
    width: 35rem;
    display: flex;
    justify-content: center;
}
.id{
    z-index: 0;
    width: 0;
    margin-bottom: 7rem;
}
#h1Id{
    font-size: 1.6rem;
}